* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 60px;
  max-width: 700px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

.user-selector-container {
  border-bottom: 1px solid lightblue;
  padding-bottom: 40px;
}

.user-selector-heading {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: normal;
}

.user-selector-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radio-button {
  display: flex;
  align-items: center;
  background-color: #d2e5f1;
  border-radius: 4px;
  gap: 10px;
  padding: 12px;
}

.users-heading {
  margin: 28px 0;
  font-size: 24px;
  font-weight: normal;
}

.users-container {
  padding-bottom: 40px;
  border-bottom: 1px solid lightblue;
}

.user-container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin: 20px 0;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #d2e5f1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(84, 84, 128);
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-role {
  font-size: 12px;
  color: gray;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.loading-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 10px;
  animation: loading 0.8s ease infinite alternate;
}

@keyframes loading {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
